.btn-entregar {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 0.5px solid rgba(5, 150, 105, 0.3);
  background: rgba(5, 150, 105, 0.08);
  color: #059669;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-editar-pedido {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 0.5px solid rgba(37, 99, 235, 0.3);
  background: rgba(37, 99, 235, 0.08);
  color: #2563eb;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-devolucion {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 0.5px solid rgba(239, 68, 68, 0.3);
  background: rgba(239, 68, 68, 0.08);
  color: #ef4444;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}
